*{
    margin: 0;
    padding: 0;
}

body{
   overflow-x: hidden;
}

.navbar{
    overflow: hidden;
    padding: 10px;
    background: #f8f9fa;
}
.navbar ul{
    float: left;
    list-style: none;
}


.navbar ul li{
    float: left;
    margin-left: 10px;
}
ul .fa {
    padding: 5px;
    font-size: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  ul .fa:hover {
    opacity: 0.7;
  }
  ul .fa-facebook {
    background: #3B5998;
    color: white;
  }
  ul .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  ul .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  ul .fa-instagram {
    background: #ad3aa2;
    color: white;
  }
  

.navbar div.contact{
    float: right;
}

.navbar div.contact span{
    margin-right: 30px;
}
.navbar div.contact span i {
    margin-right: 5px;
    color: #999;
}

/* second Nav bar */
.second-nav{
    position: absolute;
    z-index: 1100;
    background-color: transparent;
    width: 100%;
    height: 84px;
    top: 60px;
    left: 0;
    padding-left: 100px;
    box-shadow: 0 10px 15px rgba(25,25,25,.1);
    transition: all 0.5s ease;
}
.second-nav .logo{
    float: left;
    margin-right: 160px;
}
.second-nav .logo img{
    width: 130px;
    height: 50px;
}
.second-nav ul{
    float: left;
    list-style: none;
}
.second-nav ul li{
    float: left;
    color: #ddd;
    padding-top: 15px;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s linear;
}
.second-nav ul li a{
    color: #ddd;
   text-decoration: none;
}


.second-nav ul li:hover{
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.second-nav ul li.active{
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

/* WishList & Cart buttons */

.second-nav > div{
    position: relative;
}
.second-nav > div > :nth-child(1) {
    position: absolute;
    right: 150px;
}

.second-nav > div > :nth-child(2) {
    position: absolute;
    right: 230px;
}


.second-nav > div i{
    color: #ddd;
    width: 50px;
    height: 50px;
    border: 1px solid #988d8d;
    border-radius: 50%;
    
    line-height: 50px;
    text-align: center;
    font-size: 20px;    
    
}

.second-nav > div span{
    color: #fff;
    background-color: #55ACEE;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    
    position: absolute;
    left: 37px;
    top: -5px;
}


.banner{
    background-image: url('../image/pexels-andrea-piacquadio-3775120.jpg');
    min-height: 550px;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.overlay{
    background-color: rgba(0,0,0,0.4);
    height: 550px;
    color: #fff;

}

.banner h1{
    font-size: 80px;
    font-family: playfair display,serif;
    font-weight: 700;
    padding: 150px 0 20px 100px;

}
.banner p{
    width: 523px;
    padding-left: 100px;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 300;

}






.banner a{
    background: #2577fd;
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    padding: 25px 44px;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 20px;
    text-decoration: none;
    transition: all .2s linear;
}
.banner a:hover{
    background: #55ACEE;
}




.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button {
    color: #fff;
    outline: medium;
}

a, .button {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00b1ff;
    z-index: 1;
    border-radius: 5px;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5,1.6,.4,.7);
    transform: scaleX(0);
}




#about{
    padding-top: 50px;
    margin-bottom: 50px;
}

.aboutpragraph{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #949494;
    font-size: 18px;
    margin-top: -30px;
}
.main-cat{
    margin-top: 50px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.main-cat > div{
    float: left;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 33%;
    overflow: hidden;
}
.main-cat > div:before{
    position: absolute;
    z-index: 2;
    display: block;
    left: 55px;
    top: 30px;
    content: "";
    opacity: 0.3;
    width: 300px;
    height: 120px !important;
    border: 13px solid #55acee;
    width: 100px;
    transition: all 0.6s ease;
}
.main-cat > div img{
    height: 200px;
    filter: grayscale(100%);
}

.main-cat > div img:hover{
    filter: grayscale(0);
}

.teammembers{
    margin-top: 50px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


.teammembers > div{
    width: 25%;
    float: left;
    text-align: center;
}
.teammembers > div h3{
   color: #ada9a9;
}
.teammembers > div h5{
    color: #7d7b7b;
 }
.teammembers > div img{
    width: 250px;
    border-radius: 10px;
}
.teammembers > div p{
    margin-top: 5px;
    font-size: 14px;
}
.teammembers > div p i{
    margin-right: 5px;
    opacity: 0.7;
    cursor: pointer;
}

.teammembers > div p i.fa-facebook:hover{
    opacity: 1;
    color: #3B5998;
}
.teammembers > div p i.fa-twitter:hover{
    opacity: 1;
    color: #55ACEE;
}
.teammembers > div p i.fa-linkedin:hover{
    opacity: 1;
    color: #007bb5;
}















#some_product{
    margin-top: 80px;
    padding-top: 50px;
    margin-bottom: 50px;
}


.sub-some{
    overflow: hidden;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.sub-some > div{
    float: left;
    width: 500px;
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    margin-left: 50px;
}

.sub-some .sub-some-img{
    float: left;
    width: 500px;
    overflow: hidden;
    
    
}
.sub-some img{
    width: 100%;
    transition: all 1s ease;
}



.sub-some img:hover{
    transform: scale(1.5);
}









#contact{
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 80px;
}

#contact h2,#about h2,#leadership h2,#some_product h2{
    font-weight: 700;
    font-size: 50px;
    color: #999;
    text-align: center;
    margin-bottom: 60px;
}
#contact h2:after,#about h2:after,#leadership h2:after,#some_product h2:after{
    content: "";
    width: 10%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    display: block;
    border-top: 1px solid #55acee;
    
}
h2 span,h1 span,h3 span{
    color: #55acee;
}


#contact .container > div{
    float: left;
    width: 48%;
    color: #807d7d;
}

#contact .contact-box > div{
    margin-bottom: 25px;
    padding:10px;
    border-radius: 5px;
    border: 2px solid #eceaea;
}

#contact .contact-box > div i{
    margin-right: 10px;
}

#contact img{
    width: 100%;
}



/*   footer */
.footer{
    background-color: #222;
    padding-bottom: 32px;
    padding-top: 75px;
    overflow: hidden;
}
.footer ul{
    list-style: none;
}
.footer a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.container > div{
    float: left;
    width: 23%;
    margin-right: 2%;
}
.container > div.shop-img{
    width: 24%;
    margin-right: 0;
}


.container > div h3{
    color: #ddd;
    letter-spacing: 1px;
    font-size: 25px;
    margin-bottom: 20px;
}

.container > div ul li{
    color: #ddd;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.container > div ul li a{
    transition: all .2s ease;
}
.container > div ul li a:hover{
    color: #ddd;
    padding-left: 10px;
}
.container > div ul li:after{
    content: "";
    width: 50%;
    margin-top: 10px;
    display: block;
    border-bottom: 1px solid #4e4b4b;
}
.container > div ul li a{
    color: #929090;
}

.get-text{
    color: #848181;
    line-height: 1.5;
    margin-bottom: 20px;
}
.icons-group i{
    color: #ddd;
    margin-right: 5px;
}
.icons-group i:hover{
    opacity: .5;
}
.footerending:before{
    content: "";
    width: 30%;
    margin:10px auto 25px auto;
    display: block;
    border-top: 1px solid #4e4b4b;
}

.overlay2{
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 182px;
    position: absolute;
    top: 0;
    left: 0;
}

.shop-img{
    position: relative;
    overflow: hidden;
    border: 1px solid #4e4b4b;
    padding:2px;
}
.shop-img img{
    width: 100%;
    height: 180px;
    display: block;
    position: relative;
}



.footerending{
    text-align: center;
    margin-top: 20px;
}



.footerending .Copyright{
    margin-top: 10px;
    color: #ddd;
}

.Copyright span{
    color: #55ACEE;
}
/*
///////////////////////////////
//       Cart Page           //
///////////////////////////////
*/

.banner2{
    background-image: url('../image/pexels-karolina-grabowska-5632402.jpg');
    min-height: 350px;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.overlay-cart-panner{
    background-color: rgba(0,0,0,0.4);
    height: 350px;
    color: #fff;
}

.cart-list{
    margin-top: 80px;
    margin-bottom: 50px;
}




.cart-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.cart-table td, .cart-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.cart-table tr:nth-child(even){background-color: #f2f2f2;}
.cart-table tr:hover {background-color: #ddd;}
.cart-table th {
padding-top: 12px;
padding-bottom: 12px;
background-color: #999;
color: white;
}


.mybtn{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.mybtn:hover{
    opacity: 0.8;
}
.btn-delete{
    background-color: #d9534f;
    padding: 6px 20px;
}
.btn-printing{
    background-color: #f0ad4e;
    padding: 6px 20px;
}
.btn-update{
    background-color: #5bc0de;
    padding: 6px 20px;
}
.upd{
    margin-top: 10px;
}

.btn-green{
    background-color: #5cb85c;
    padding: 4px 20px;
}

.btn-red{
    background-color: #d9534f;
    padding: 4px 20px;
}

.quant-field{
    height: 22px;
    text-align: center;
}

